@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-8">
            <h2>Desctiption</h2>
            <p>
                Mbasa-yamaHlubi Giyose is an enthusiastic wig specialist who only wants to provide her customers with the 
                best quality hair and services. Her hair line was created in 2020 in Hatfield, Pretoria and has been based there
                ever since. We hope to see you in store soon !
            </p>
        </div>

        <div class="col-md-4">
            <img src="1635253892200.jpg" width="250" height="250" />
        </div>
    </div>
</div>
